{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align:center;">
        <h1>Hello prénom</h1>
        <h2>Un petit creux ?</h2>
        <img src="{{ asset('./img/frigo_ferme.jpg')}}" alt="Réfrigérateur" />
    </div>
{% endblock %}
